body {
  font-family: Roboto, sans-serif;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.header {
  // height: 230px;
  display: flex;
  justify-content: space-between;
  background-image: url(../images/mob_header@1.png);
  // background-position: center;
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.logo__link {
  padding-top: 40px;
  padding-bottom: 166px;
}
.nav__list {
  padding-top: 44px;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
}
